<!DOCTYPE html>
<html lang="en">
<head>
<title>About us </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
{{>header}}
<img class="potrait" src="/img/a.png" alt="spoon" >
<p>{{name}}</p>
</div>
{{>footer}}
</body>
</html>
