<!DOCTYPE html>
<html lang="en">
<head>
<title>Help</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/img/weather.png" >
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
<img class="potrait" src="/img/a.png" alt="spoon" >
<p>Carry a spoon to win a moon</p>
<p> get help{{name}}<span> :---- </span> {{message}}</p>
</div>

{{>footer}}
</body>
</html>
