<footer>
  I am footer
  Some copyright info or perhaps some author
  
      <p>© 2018 Gandalf</p>
  <a href="/">Weather</a>
  <a href="/aboutus"> About</a>
  <a href="/helpme"> Help </a>
  <a href="blog"> Blog</a>

</footer>
